body {
   font-family: Arial;
   padding-left: 3em;
   padding-right: 3em;
}

h1 {
   padding: 0;
   margin-top: 0.25em;
   margin-bottom: 0.25em;
}

a,
a:visited {
   text-decoration: none;
   color: #7591d1;
}

span.date {
   background-color: #ddd;
   font-size: 0.6em;
   padding: 2px;
   border-radius: 2px;
   -moz-border-radius: 2px;
   color: #333;
   display: inline-block;
   vertical-align: top;
}

#title {
   font-family: "LatoBlack", "Arial Black";
   font-size: 4em;
   color: #7591d1;
   display: block;
   text-transform: uppercase;
   text-shadow: 3px 2px 0px #3e4648, 3px 3px 0px #3e4648, 3px 3px 0px #3e4648, 3px 4px 0px #3e4648, 3px 5px 0px #3e4648;
}

#wrapper {
   background-color: #eee;
   border-radius: 15px;
   -moz-border-radius: 15px;
   padding: 15px;
}

.gitforked-button {
   float: right;
}

p {
   margin-top: 0;
}

ul#results {
   padding-left: 1em;
}

ul#results > li {
   margin-bottom: 12px;
}

ul#results > li > span:first-child {
   color: white;
}

#grid {
   margin: 0.5em;
   padding: 0.5em;
   padding-bottom: 4em;
   background-color: white;
   border: 2px solid #999;
   border-radius: 3px;
   -moz-border-radius: 3px;
   width: 600px;
   height: 120px;
}

input[type=button] {
   padding: 0.5em;
   margin-left: 0.75em;
}

ul#calendars > li,
li > span:first-child {
   padding: 5px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   background-color: #777;
}

ul {
   list-style-type: none;
}

span.result {
   font-weight: bold;
   padding-left: 1em;
}

ul#calendars {
   padding: 0;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
}

ul#calendars > li {
   display: inline-block;
   color: white;
   margin-right: 5px;
   margin-bottom: 5px;
}

ul#calendars > li:hover,
li > span:first-child:hover {
   background-color: #ccc ! important;
   color: black;
   cursor: pointer;
   border: 2px solid #999;
   background-color: white;
   padding: 3px;
}
